/* ============================
   Logo & Splash Overrides
   ============================ */

[data-theme=cotton_candy] .app-logo {
    background-image: url('/assets/frappe_theme_switcher/images/logo-cotton-candy.png');
    height: 70px;
    /* متظبطه مع Navbar height = 100px */
    margin: auto 0;
}


/* [data-theme=cotton_candy] .web-logo,
[data-theme=cotton_candy] .splash-logo {
    background-image: url('/assets/frappe_theme_switcher/images/splash-cotton-candy.png');
} */


/* ============================
   Cotton Candy Theme Overrides
   ============================ */

[data-theme=cotton_candy] {
    --brand-primary: #0f4870;
    --brand-primary-dark: #0f4870;
    --brand-accent: #0f4870;
    --brand-bg-light: #f7f7f7;
    --brand-text-dark: #2a2c36;
    --brand-text-light: #ffffff;
}


/* Navbar */

[data-theme=cotton_candy] .navbar {
    height: 65px;
    background: linear-gradient(90deg, var(--brand-accent), var(--brand-primary) 90.16%);
    border-bottom: 1px solid var(--border-color);
    padding: 0;
}

[data-theme=cotton_candy] .navbar .navbar-nav .nav-link {
    color: var(--brand-text-light);
}


/* Sidebar */


/* [data-theme=cotton_candy] .desk-sidebar-item.selected {
    background-color: #eceeee !important;
    color: var(--brand-text-dark) !important;
    font-weight: bold !important;
    border-radius: 10px 0 0 10px !important;
}

[data-theme=cotton_candy] .desk-sidebar-item:hover {
    background-color: #f5f5f5;
    color: var(--brand-text-dark);
    border-radius: 0 10px 10px 0;
    transition: all 0.2s ease;
    cursor: pointer;
} */


/* Buttons */

[data-theme=cotton_candy] .btn-primary {
    color: var(--brand-text-light) !important;
    background-color: var(--brand-primary) !important;
    border-radius: 5px !important;
}

[data-theme=cotton_candy] .btn-primary:hover {
    background-color: var(--brand-bg-light) !important;
    color: var(--brand-text-dark) !important;
}

[data-theme=cotton_candy] .btn-secondary {
    border-radius: 5px !important;
    transition: background-color ease-in-out .15s;
}

.form-tabs-list .form-tabs .nav-item .nav-link.active {
    color: var(--brand-primary) !important;
    border-bottom: 2px solid var(--brand-primary)
}